:root {
  --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --colors-text-text-default: var(--colors-text-default-default);
  --variable-collection-spacing-m: 48px;
  --variable-collection-spacing-XS: 8px;
}
